<!-- Image and text -->
<div class="container">
  <nav class="navbar navbar-light bg-blue">
    <a class="navbar-brand titulo-tigo" href="/home">
      <img src="img/TIGO-Guino.gif" width="80" height="80" class="d-inline-block" alt="">
      <span class="navbar-brand mt-4 h1">Centro de servicios TIGO - RNEC</span>

    </a>
    <button class="btn btn-sm btn-outline-secondary d-inline-block" type="button" (click)="navigateToAuth()">Login</button>

  </nav>
  <h5>Organigrama Proyecto RNEC</h5>
</div>


