@font-face {
  font-family: 'tigo-bold';
  src: url('../../../../assets/fonts/DMSans-Bold.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'tigo-light';
  src: url('../../../../assets/fonts/DMSans-Bold.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'tigo-light';
}

.container{
  width: 60%;
}

.titulo-tigo{
  color: #00347e;
  font-family: 'tigo-bold';
}

.navbar-brand{
  font-size: xx-large;
  color: #00347e;

}

h5 {
  text-align: center; /* Centrar el texto */
}
