
<div class="organigrama-container">
  <div *ngFor="let nivel of levels; let i = index" class="nivel-container">
    <div class="nivel">
      <div *ngFor="let otro of nivel; let j = index" class="tarjeta-container">
        <!-- <div class="tarjeta" [id]="'tarjeta' + getIndex(nivel[j].id)"> -->
          <div class="tarjeta" [style.order]="getCentralIndex(nivel[j].id)"> 
          <img [src]="nivel[j].imagen" alt="{{ nivel[j].nombre }}" />
          <div class="info">
            <h3>{{ i + " " + j + nivel[j].nombre }}</h3>
            <p>{{ nivel[j].cargo }}</p>
            <p>{{ nivel[j].vertical }}</p>
            <p>{{ nivel[j].correo }}</p>
          </div>
          <button class="btn btn-circle" (click)="openModal(nivel[j].id)">
            <i class="fas fa-plus"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>



<svg class="lineas-contenedor">
  <!-- Las líneas se generarán dinámicamente aquí -->
</svg>






<!-- Modal -->
<div #myModal class="modal fade" tabindex="-1" aria-labelledby="modalLabel" [attr.aria-hidden]="isModalVisible ? 'false' : 'true'">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">{{ modalTitle }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label>Cargo:</label>
        <input type="text" [(ngModel)]="selectedTarjeta.cargo" class="form-control">

        <label>Vertical:</label>
        <input type="text" [(ngModel)]="selectedTarjeta.vertical" class="form-control">

        <label>Correo:</label>
        <input type="email" [(ngModel)]="selectedTarjeta.correo" class="form-control">

        <label>Estado:</label>
        <select [(ngModel)]="selectedTarjeta.estado" class="form-control">
          <option [value]="true">Activo</option>
          <option [value]="false">Inactivo</option>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="guardarTarjeta()">Guardar</button>
      </div>
    </div>
  </div>
</div>


