.organigrama-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow-x: auto;
  overflow-y: auto;
  white-space: nowrap;
  padding: 20px;
  gap: 40px;
}

.nivel-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  white-space: nowrap;
  padding: 20px;
}

.nivel {
  display: flex;
  justify-content: space-around; /* Ajusta la distribución */
  align-items: center;
  position: relative;
  margin: 50px 0px;
  height: 200px;
}

.tarjeta-container {
  display: block;
  justify-content: center;
  align-items: center;
  position: relative;
  white-space: nowrap;
  margin-left: 20px;
  margin-right: 20px;
  aspect-ratio: 6/9;
  height: 100%;
}

.tarjeta {
  border-radius: 7%;
  position: relative;
  aspect-ratio: 6/9;
  height: 100%;
}

.tarjeta:hover {
  height: 120%;
  transition: all 300ms;
}

.tarjeta .bgtar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80%;
  z-index: 1; /* Fondo detrás de todo */
  border-radius: 7%;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}

.tarjeta img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2; /* Imagen encima del fondo */
  padding: 0;
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.5));
}

.tarjeta:hover img {
  top:-20px;
  transition: all 400ms;
}

.tarjeta .info {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 40%;
  width: 100%;
  background-color: rgba(47, 48, 97, 0.9); /* Fondo semitransparente */
  padding: 10px;
  z-index: 3; /* Información encima de la imagen */
  text-align: center;
  border-radius: 7%;
}

.info h3 {
  margin: 0.2vw 0 0.2vw 0;
  color: #84918c;
  overflow-wrap: break-word;
  white-space: normal;
  width: 100%;
  font-size: 0.55vw;
}

.info p {
  color: #d4d4d4;
  margin: 0.2vw 0 0.1vw 0;
  width: 100%;
  font-size: 0.45vw;
}

.nivel-cero {
  background-image: url(../../../../assets/img/fondo2.jpg);
  background-size: cover;
}

.nivel-uno {
  background-image: url(../../../../assets/img/fondo2.jpg);
  background-size: cover;
}

.nivel-dos {
  background-image: url(../../../../assets/img/fondo2.jpg);
  background-size: cover;
}

.nivel-tres {
  background-image: url(../../../../assets/img/fondo2.jpg);
  background-size: cover;
}











/* Conexiones entre niveles */
.conexiones {
  display: flex;
  justify-content: center;
  position: relative;
}

.conexiones::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 50%;
  width: 2px;
  height: 20px;
  background-color: #000;
}

.conexiones::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
}




/* Estilos para los botones */
.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-close {
  filter: invert(1); /* Invertir el color del ícono de cierre */
}

.btn-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #007bff;
  color: white;
  border: none;
  font-size: 12px;
  position: relative;
  display: inline-block !important;
  visibility: visible !important;
  cursor: pointer;
  transition: all 300ms;
}

.btn-circle:hover {
  background-color: #0d9780;
}

.btn{
  --bs-btn-padding-x: 0!important;
  --bs-btn-padding-y: 0!important;
}





/* Estilos personalizados para el modal */
.modal-content {
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
}

.modal-header {
  background-color: #007bff; /* Color de fondo del encabezado */
  color: white; /* Color del texto */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.modal-title {
  font-weight: bold; /* Texto en negrita */
}

.modal-body {
  padding: 20px; /* Espaciado interno */
}

.modal-footer {
  border-top: 1px solid #ddd; /* Borde superior */
  padding: 15px; /* Espaciado interno */
}

